@use '../../scss/' as *;

.header{
    height: $height-header;
    width: calc(100% - $sidebar-width);
    background-color: $layout-bg;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 5px $sticky-header-box-shadow;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

//repon
// @media screen and (min-width: 0px) and (max-width: 780px) {
//     .header{
//         width: calc(100% - $sidebar-width-responsive);
//     }
// }