@use '../../scss/' as *;

.home-page-container{
    background-color: $layout-bg;
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 370px 310px 250px 250px;
    grid-row-gap: 20px;
    padding-bottom: 100px;
}

.topic-item {
    display: block !important;
}

.topic-music {
    width: calc(100% - 20px);
}

.topic-tittle {
    color: #fff;
    font-size: 25px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    margin: 10px;
    width: 1190px;
}

.carousel-item{
   padding: 8px 4px;
   overflow: hidden;
   border-radius: 3px;
   object-fit: cover;
   transition: hover linear 3s;

   & img{
    border-radius: 10px;
    object-fit: cover;
   }

   &:hover{
    padding: 4px 2px;
    opacity: 0.6;
   }
}

.playlists-music-header,
.top-music-header,
.singer-header{
    display: flex;
    justify-content: space-between;
}

.tittle {
    color: #fff;
    font-size: 25px;
    margin-left: 15px;
    
}


.more {
    color: #fff !important;
    font-size: 20px;
    font-weight: 600;
    margin-top: 2px;
    margin-right: 15px;
}

.more:hover {
    color: #43059f !important;
    opacity: 0.6;
    cursor: pointer;
}

.playlists-music {
    display: grid;
    // grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
    grid-template-areas: 
    "listheader"
    "listbox";
    grid-row-gap: 15px;
    width: 100%;
    width: calc(100% - 20px);
    // border: 1px solid #fff;
    
}

.playlists-music-header:first-child {
    grid-area: listheader;
}

.playlists-music-box {
    // border: 1px solid #fff;
    width: 100%;
    grid-area: listbox;
    display: grid;
    grid-template-areas: 
    "listit1 listit2 listit3 listit4 listit5";
    // overflow: hidden;
    // overflow-x: auto;
}


.playlist-music-item {
    // border: 1px solid #fff;
    width: 100%;
    // min-width: none;
    // width: calc(100% - 20px);
    // height: 266px;
    height: 100%;
    padding: 0 12px;
    align-items: center;
    display: block !important;
}

.playlist-music-item:nth-child(1) {
    grid-area: listit1;
}

.playlist-music-item:nth-child(2) {
    grid-area: listit2;
}

.playlist-music-item:nth-child(3) {
    grid-area: listit3;
}

.playlist-music-item:nth-child(4) {
    grid-area: listit4;
}

.playlist-music-item:nth-child(5) {
    grid-area: listit5;
}

.playlist-music-item-img {
    // width: 185px;
    width: 100%;
    // height: 185px;
    height: 70%;
    text-align: center;
    // border: 1px solid #fff;
    position: relative;
}

.playlist-music-item-img img{
    // width: 185px;
    // height: 185px;
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

.playlist-music-item-img-hov {
    color: #fff;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    // width: 185px;
    // height: 185px;
    width: 100%;
    height: 100%;
    top:0%;
    font-size: 35px;
    background-color:rgba(0, 0, 0, 0.653);
    display: none;
}


.playlist-music-item-img:hover .playlist-music-item-img-hov {
   display: flex;
   cursor: pointer;
}

.hov-play {
    height: 40px;
    width: 40px;
    background-color: transparent;
}

.hov-heart,  
.hov-more {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: rgba(139, 135, 135, 0.405);
}

.playlist-music-item-desc {
    color: #fff;
    margin-top: 3px;
    width: 140px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlists-tittle {
    font-style: Inter,sans-serif;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.playlists-tittle:hover {
    color: #432275;
    cursor: pointer;
}

.playlists-singer {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    opacity: 0.6;
}

.top-music {
    display: grid;
    // grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
    grid-template-areas: 
    "topheader"
    "topbox";
    grid-row-gap: 15px;
    // width: 1185px;
    width: calc(100% - 20px);
    // border: 1px solid #fff;
}

.top-music-header:first-child {
    grid-area: topheader;
}

.top-music-box {
    width: 100%;
    grid-area: topbox;
    display: grid;
    grid-template-areas: 
    "topitem1 topitem2 topitem3";
    // border: 1px solid #fff;
    // overflow: hidden;
    // overflow-x: auto;
}

.top-music-item:nth-child(1) {
    grid-area: topitem1;
    & .top-number{
        color: red;
    }
}

.top-music-item:nth-child(2) {
    grid-area: topitem2;
    & .top-number{
        color: yellow;
    }
}

.top-music-item:nth-child(3) {
    grid-area: topitem3;
    & .top-number{
        color: green;
    }
}

.top-music-item {
    width: 95%;
    // width: 90%;
    height: 150px;
    margin: 0 10px;
    border: 1px solid hsla(0,0%,100%,0.1);
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 var(none);
    background-color: hsla(0,0%,100%,0.1);
    // border: 1px solid red;
   
}

.top-music-item-content {
    display: flex;
    margin: 0 14px;
    margin-top: 9px;
    // width: 380px;
    width: 100%;

}

.top-music-item-img {
    // height: 120px;
    // width: 120px;
    height: 100%;
    width: 30%;
    position: relative;
    margin-right: 20px;
   
}

.top-music-item-img img {
    // height: 120px;
    // width: 120px;
    height: 100%;
    width: 100%;
    border-radius: 2%;
    
}

.top-music-item-img-hov {
    color: #fff;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    // width: 120px;
    // height: 120px;
    width: 100%;
    height: 94%;
    top:0%;
    font-size: 35px;
    background-color:rgba(0, 0, 0, 0.653);
    display: none;
}

.top-music-item:hover .top-music-item-img-hov {
    display: flex;
    cursor: pointer;
}

 
.top-music-item-desc {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
}

.top-tittle {
    font-size: 16px;
    font-weight: 700;
    font-style: Inter,sans-serif;
    line-height: 1;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-singer {
    font-size: 14px;
    font-style: Inter,sans-serif;
    opacity: 0.6;
}

.top-singer:hover {
    color: #25015c;
    text-decoration: underline #25015c;
}

.top-music-item-status {
    display: flex;
    // width: 217px;
    width: 50%;
    flex-direction: column;
    align-content: space-between;
}

.top-number {
    margin-top: 40px;
    opacity: 0.4;
    -webkit-text-stroke: 1px #fff;
    font-size: 40px;
    font-weight: 900;
    color: transparent;
    line-height: 1;
    font-family: "Roboto",sans-serif;
}

.singer {
    width: calc(100% - 20px);
    color: #fff;
    // width: 1185px;
}

.singer-content {
    display: grid;
    grid-template-rows: 30px 1fr;
    grid-template-areas: 
    "singerheader"
    "singerbox";
    grid-row-gap: 15px;
}

.singer-header {
    grid-area: singerheader;
}


.singer-box {
    width: 100%;
    grid-area: singerbox;
    display: grid;
    grid-template-areas: 
    "singeritem1 singeritem2 singeritem3 singeritem4 singeritem5";
}

.singer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    // border: 2px solid #7200a1;
    &:hover {
        transform: translateY(-5%);
        & .singer-item-img img {
            box-shadow: 0 0 10px rgb(77, 76, 76);
            
        }
    }
    
}

.singer-item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.singer-item-img {
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    

    & img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid #7200a1;
        

        
    }
}

.singer-item-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.singer-name{
    font-style: Inter,sans-serif;
    font-size: 17px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.singer-item :nth-child(1) {
    grid-area: singeritem1;
}
.singer-item :nth-child(2) {
    grid-area: singeritem2;
}
.singer-item :nth-child(3) {
    grid-area: singeritem3;
}
.singer-item :nth-child(4) {
    grid-area: singeritem4;
}
.singer-item :nth-child(5) {
    grid-area: singeritem5;
}


// reponsive
 @media screen and (max-width:1024px)  {
    // .topic-music {
    //     width: 700px;
    // }
    // .playlists-music {
    //     width: 700px;
    // }
    .playlists-music-box {
        grid-template-areas: 
        "listit1 listit2 listit3";
    }
    .playlist-music-item:nth-child(5) {
        // grid-area: listit5;
        display: none;
    }
    .playlist-music-item:nth-child(4) {
        // grid-area: listit5;
        display: none;
    }
    // .top-music {
    //     width: 700px;
    // }
    .top-music-box {
        grid-template-areas: 
        "topitem1 topitem2";
    }
    .top-music-item:nth-child(2) {
        grid-area: topitem2;
        // display: none;
    }
    .top-music-item:nth-child(3) {
        // grid-area: topitem3;
        display: none;
    }

    .singer-box {
        grid-template-areas: 
        "singeritem1 singeritem2 singeritem3 ";
    }

    .singer-item:nth-child(5),
    .singer-item:nth-child(4) {
        display: none;
    }
 }

 @media screen and (max-width:700px)  {
    // .topic-music {
    //     width: 700px;
    // }
    // .playlists-music {
    //     width: 700px;
    // }
    .playlists-music-box {
        grid-template-areas: 
        "listit1 listit2";
    }
    
    .playlist-music-item:nth-child(3),
    .playlist-music-item:nth-child(4),
    .playlist-music-item:nth-child(5) {
        // grid-area: listit5;
        display: none;
    }
    
    // .top-music {
    //     width: 700px;
    // }
    .top-music-box {
        grid-template-areas: 
        "topitem1";
    }
    
    .top-music-item:nth-child(2),
    .top-music-item:nth-child(3) {
        // grid-area: topitem3;
        display: none;
    }

    .singer-box {
        grid-template-areas: 
        "singeritem1 singeritem2";
    }

    .singer-item:nth-child(5),
    .singer-item:nth-child(4),
    .singer-item:nth-child(3) {
        display: none;
    }
 }