@use '../../scss/' as *;


.acount-setting-container {
  color: #fff;
  padding-bottom: 50px;
}

.acount-setting-content {
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.acount-setting-header {
  width: calc(100% - $sidebar-width);
  display: flex;
  justify-content: space-between;
  font-style: 'Roboto', sans-serif;
  font-size: 22px;
  background-color: #170F23;
  border-bottom: 1.5px solid #7100a175;
  position: fixed;
  right: 50;
  left: 50;
  // z-index: 2;
}

.acount-setting-header h3 {
  padding: 10px 0 10px 20px;
  position: relative;

  & svg {
    transform: translate(-12%, 24%);
  }
}

.change-info-input-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #555;
  margin-bottom: 5px;
  .change-info-title {
    
  }
  .change-accept-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    .change-icon {
      font-size: 35px;
    }
    .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      top: 80%;
      left: 50%;
      margin-left: -60px;
      opacity: 0;
      transition: opacity 0.3s;

      &::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #555 transparent;
      }
    }
    &:hover  {
      cursor: pointer;
      opacity: 0.8;
      .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.close-acst-button {
  color: #fff;
  font-size: 3rem;
  transform: translateY(-20%);
  transform: translateX(18%);
  background-color: #432275;

}

.acount-setting-active {
  display: flex;
  margin: 80px 100px;
}

.change-info-input {
  flex: 3;
}

.change-item {
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.800);
}

.info-one-dsg {
  font-size: 20px;
  font-weight: 600;
  font-style: 'Roboto', sans-serif;
}

.input-dsg {
  font-size: 16px;
  height: 40px;
  border: 1.5px solid rgba(255, 255, 255, 0.588);
  border-radius: 9px;
  width: 100%;
  padding-left: 10px;

  background-color: transparent;
  color: rgba(255, 255, 255, 0.700);
}

.change-user-pass:hover a{
  opacity: 0.6;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.change-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
}


.form-upload-image{
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  & input{
    width: 150px;
  }
}

.change-avatar-img {
  height: 300px;
  // padding-right: 50%;
  width: 300px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.463);

}

.change-avatar-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.change-avatar-button {
  margin-top: 10px;
  font-size: 18px;
  background-color: #7200a1;
  color: #fff;
  font-style: 'Roboto', sans-serif;
  padding: 0px 5px;
  height: 30px;
  font-weight: lighter;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.463);

  &:hover {
    background-color: #7100a1c0;
  }
}

// .chose-avatar-input{
//   background: #7200a1;
//     font-size: 15px;
//     border-radius: 99px;
//   cursor: pointer;
  
// }

.choose-avatar-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose-avatar-btn-content{
  padding: 10px 10px;
    font-size: 17px;
     border-radius: 99px; 
    background-color: #7200a1;
    width: 160px;
    position: relative;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
}

.file-avatar-img-name p{
  margin: 10px 0;
  width: 300px;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  display: flex;
  justify-content: center;
}

#chose-avatar-input[type="file"] {
  display: none;
}

 
.change-pass{
  width: 50%;
  margin: 20px 100px;
}

.change-pass-box {
  width: 100%;
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1.5px solid #7100a175;
  display: none;
}

.change-pass-box.open {
  display: block;
}

.change-pass-box-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.space {
  width: 150px;
  height: 150px;
}

.change-pass-box-header {
  font-size: 20px;
  margin-bottom: 10px;
  // margin-left: 170px;
  display: flex;
  justify-content: space-between;

  & h3 {
    margin-left: 20px;
    position: relative;
    & svg {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(410%, -58%);
    }
  }
}



.change-pass-box-close-btn {
  font-size: 25px;
  color: #fff;
  background-color: #170F23;
  cursor: pointer;
  margin-right: 20px;
  &:hover {
    opacity: 0.6;
  }
}


.setting-acept-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accept-button {
  margin-top: 10px;
  
  font-size: 18px;
  background-color: #7200a1;
  color: #fff;
  font-style: 'Roboto', sans-serif;
  padding: 0px 50px;
  height: 40px;
  font-size: 20px;
  font-weight: lighter;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.463);
  cursor: pointer;
  // justify-self:start;

  &:hover {
    background-color: #7100a1c0;
  }
}

.img-review {
  width: 250px;
  height: 250px;
  border: 2px solid #fff;
  border-radius: 50%;
  
  

  & img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.create-playlist-from-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


