@use '../../scss/' as *;

.search-wrap{
    width: 100%;
}

.search{
    --search-height: 46px;

    position: relative;
    height: var(--search-height);
    width: 60%;
    padding-left: 16px;
    // margin: 0 20%;
    background-color: $sidebar-popup-bg;
    border-radius: 92px;
    display: flex;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    

    input {
        color: $text-primary;
        flex: 1;
        font-size: 1.6rem;
        background-color: transparent;
        height: 100%;
    }

    &::after{
        content: '';
        position: absolute;
        width: 1px;
        height:calc(var(--search-height) - 18px);
        top: 9px;
        right: 50px;
        background-color: $text-primary;
    }

    &:focus-within{
        border: 1.5px solid rgba(22, 24, 35,0.2);
    }
}

.search-result{ 
    width: 100%;

}

.cannotfind-result{
    color: $text-primary;
    font-size: 1.4rem;
    margin: 10px;
    text-align: center;
}

.search-title{
    color: $text-primary;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 5px 12px;
}

.clear{
    background-color: transparent;
    color: $text-primary;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    margin-right: 12px;
    cursor: pointer;
}
.loading{
    color: $text-primary;
    position: absolute;
    top: 50%;
    right: 60px;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner{
    from{
        transform: translateY(-50%) rotate(0);
    }
    to{
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn{
    width: 50px;
    height: 100%;
    background-color: transparent;
    font-size: 2rem;
    color: $text-primary;
    justify-content: center;
    display: flex;
    align-items: center;

    &:hover{
        cursor: pointer;
        background-color: $bg-hover;
    }
}


.result-item{
    &:hover{
        background-color: $alpha-bg;
    }
}

#tippy-2{
    width: 60%;
}


