@use '../../scss/' as *;




.pl-container {
  background-color: #170f23;
  height: 400px;
  width: 100%;
}
.pl-header {
  color: white;
  display: flex;
  align-items: center;
  padding: 15px 0 10px 40px;
  border-bottom: 1px solid #2f2739;
  .pl-header-title {
    // margin-top: ;
    padding-right: 20px;
    border-right: 1px solid #2f2739;
  }

  .pl-list {
    list-style-type: none;
    margin-left: 20px;
    display: flex;
    text-transform: uppercase;
    position: relative;
    .pl-item {
      padding: 0 10px 0;
    }
    .pl-item-line {
      position: absolute;
      height: 2px;
      border: 1px solid #fff;
      bottom: calc(-100% + 2px);
      width: 50px;
      border-color: #7200a1;
    }
  }
}
.pl-body {
  height: 100%;
  width: 100%;
  background-color: #170f23;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 90px;
  .pl-card {
    width: 180px;
    height: 227px;
    margin: 20px;
    .pl-empty-playlist {
      position: relative;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        border: 1px solid #2f2739;
        font-size: 15px;
        line-height: 22px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .pl-icon {
          padding: 10px;
          font-size: 50px;
        }

    }

    .pl-exists-playlist {
      height: 100%;
      width: 100%;
      border-radius: 4px;
      color: white;
      position: relative;
      
      &:hover .pl-image{
        opacity: 0.5;
      }

      &:hover .pl-image-hover {
        display: flex;
      }
      
      .pl-title {
        height: 10%;
        // margin-top: 20px;
        font-size: 18px;
      }
      .pl-user {
        height: 10%;
        font-size: 16px;
        color: #4F3866;
      }
    }
  }
}

.pl-image {
  border-radius: 4px;
  height: 80%;
}

.pl-image-hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80%;
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
  left: 0;
  display: none;
  justify-content: space-between;
  padding: 0 30px;
  
}

.pl-empty-playlist-title{
  position: absolute ;
  top: 65%;
}
.pl-icon {
  // padding-right: 20px;
  font-size: 25px;
  cursor: pointer;
  position: relative;
  z-index: 30;

  & svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.pl-icon-active-play {
  // padding-right: 10px;
  font-size: 40px;
}
