@use '../../scss/' as *;

.sidebar{
    width: $sidebar-width;
    height: calc(100vh - $height-player-control);
    background-color: $sidebar-popup-bg;
    position: fixed;
    top: 0;
    left: 0;
}

.user{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid $purple-primary;
}

.user-link{
    display: block !important;
}

.user-avatar{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    cursor: pointer;
}

.user-login{
    margin-top: 12px;
    margin: auto;
}

.bar{
    position: absolute;
    width: 100%;
    height: 280px;
    overflow: hidden;
    overflow-y: auto;
}
.sidebar-item{
    width: 100%;
    height: 40px;
    color: $text-primary;
    display: flex;
    align-items: center;
    padding-left: 24px;
    
    &:hover {
        background-color: $alpha-bg;
    }
}

.active{
    background-color: $alpha-bg;
    display: flex;
    position: relative;

    &::after{
        content: '';
        background-color: $purple-primary;
        width: 4px;
        height: 100%;
        position: absolute;
        left: 0;
    }
}

.wrapper-sidebar-item{
    display: flex;
    cursor: pointer;
    width: 100%;
}

.sidebar-item-icon{
    margin-right: 10px;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.sidebar-item-title{
    display: flex;
    align-items: center;
}

.logout{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $purple-primary;
}



