@use '../../scss/' as *;


.playlist{
  background-color: $layout-bg;
  min-height: calc(100%);
  // padding-bottom: $height-player-control;
  // margin-bottom: 100px;

  &-title{
    display: flex;
    color: $text-secondary;
    font-size: 1.6rem;
    justify-content: space-between;
    padding:0 40px 20px 55px;
    border-bottom: 1px solid $text-secondary;


    &-song{
      width: 40%;
    }
  }

}

.playlist-item{
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  position: relative;
  // border-top: 1px solid $text-secondary;


  &-icon{
    color: $text-primary;
    margin: auto;
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    background-color: $alpha-bg;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  
    & svg{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}


  &-album{
    font-size: 1.4rem;
    color: $text-secondary;
    cursor: pointer;
    width: 30%;
    text-align: left;
    margin: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-height: 1.6rem;
    max-height: 3.2rem;
  }

  &-time{
    font-size: 1.4rem;
    color: $text-secondary;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 80px;

  }

  &:hover{
    background-color: $alpha-bg;
  }

  &:hover > .playlist-item-icon{
    display: block;
  }
}

.active > .playlist-item-icon{
  display: block;
}

.Song-Thumbnail {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
  }
  
  .Song-Title {
    text-transform: capitalize;
    margin-bottom: 0;
  }
  
  .Singer {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 12px;
    color: #333;
  }
  
  .Control-Button-Group {
    display: flex;
    align-items: center;
    justify-content: center;
  
    > * {
      cursor: pointer;
    }
  }
  
  .Prev-Button,
  .Next-Button {
    width: 20px;
  }
  
  .Pause-Play-Button {
    display: flex;
    justify-content: center;
    width: 14px;
    height: 22px;
    margin: 0 32px;
  
    svg {
      height: 22px;
    }
  }

  .heart{
    color: $text-primary;
    font-size: 3rem;
    display: flex;
    // padding-right: 30px;
    // padding-left: 100px;
    margin-left: 100px;
    margin-right: 30px;
    cursor: pointer;

    &:hover{
      color: $purple-primary;
    }
  }
  

//music

.playlist-music-cd{
  display: flex;
  align-items: center;
}

.playlist-music-img{
  width: 20vw;
  height: 20vw;
  border-radius: 20px;
  object-fit: cover;
  transition: border-radius linear .5s;
  border: 1px solid $alpha-bg;
  
  // animation: abc linear 10s infinite;
}

.play{
  border-radius: 50%;
  animation: abc linear 15s infinite;
}

@keyframes abc{
    from{
        transform:rotate(0);
    }
    to{
        transform:rotate(360deg);
    }
}

.playlist-music{
  display: flex;
  color: $text-primary;
  width: 100%;
  margin: 40px 0;
  font-size: 2rem;
  // justify-content: center;

  &-cd{
    margin:0 10%;
  }

  &-info{
    // padding-top: 30px;
    position: relative;
    // margin-top: 20px;

    &-name{
      margin-bottom: 20px;
    }


    &-singer,
    &-time,
    &-album{
      color: $text-secondary;
      font-size: 1.6rem;
      font-weight: 400;
      padding: 5px 0;
    }

    // &::before{
    //   content: '';
    //   width: 80%;
    //   height: 2px;
    //   background-color: $alpha-bg;
    //   position: absolute;
    //   top: -20px;

    // }
  }

  &-control{
    margin-top: 20px;
    margin-left: 0;
  }
}

.playlist-music-control{
  display: flex;
  margin: 0 60px;
  position: relative;
  justify-content: space-between;

  &-icon{
    width: 40px;
    height: 40px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    // margin: auto;
    position: relative;
    // margin-left: 20px;
    background-color: $alpha-bg;
    border-radius: 50%;

    &:hover{
      background-color: $alpha-layout-bg;
    }

    & svg{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}


//more

.player-controls{
  width: 100%;
  height: $height-player-control;
  background-color: $player-bg;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 50px;
  position: fixed;
  bottom: 0;
}

.playlist-content{
  max-height: 80vh;
  overflow: hidden;
  overflow-y: auto;
}

.control-left{
  width: 25%;
  height: 100%;
  display: flex;
}
.control-left-add,
.control-left-more {
  display: flex;
  align-items: center;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.overlay.open {
  display: flex;
}
.control-left-more-menu {
  transform: translate(280px,250px);
  width: 265px;
  height: 380px;
  background-color: #fff;
  position: absolute;
  border-radius: 5%;
  background-color: #432275;
  bottom: 55vh;
  left: 0;
  // display: flex;
}

.more-menu {
  margin-top: 15px;
}

.more-menu-song-info {
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "ig na"
  "ig st";
}

.more-menu img {
  width: 40px;
  height: 40px;
  grid-area: ig;
  transform: translateX(195%);
  margin-left: -61px;
  border-radius: 15%;
}

.song-tittle {
  grid-area: na;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  font-style: bold;
  
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}

.song-status {
  grid-area: st;
  width: 120px;
  display: flex;
  flex-direction: row;
  color: #fff;
  justify-content: space-between;
  opacity: 0.4;
}

.menu-button-list {
  display: flex;
  justify-content: space-around;
  background-color: rgba(225, 225, 225, 0.174);
  
  color: rgb(255, 255, 255);
  margin: 0 12px;
  border-radius: 10px;
  margin-top: 20px;
  height: 55px;
}

.bt-list-one {
  height: 100%;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bt-list-one:hover {
  opacity: 0.5;
  border-radius: 10%;
  border: 2px solid #fff;
}

.bt-list-one span {
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.bt-list-one p {
  display: flex;
  justify-content: center;
}

.menu-options {
  // border: 1px solid #fff;
  width: 100%;
  margin-top: 20px;
}

.menu-optin-one {
  display: flex;
  flex-direction: row;
  color: #fff;
  padding: 5px 0;
  font-size: 17px;
}
.menu-optin-one span {
  margin-left: 12px;
}
.menu-optin-one:hover {
  background-color: rgba(255, 255, 255, 0.216);  
  cursor: pointer;
}

.menu-optin-one p {
  margin-left: 15px;
}

.control-center{
  width: 40%;
  height: 100%;
}

.control-right{
  display: flex;
  align-items: center;
  // margin-right: 30px;
  // padding-left: 70px;
}
.control-left-addToPl,
.control-left-3point,
.control-micro,
.control-restore,
.control-volume{
  display: block;
  position: relative;
  width: 34px;
  height: 34px;
  font-size: 2rem;
  color: $text-primary;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  transition: background-color linear 0.1s;

  &:hover{
      background-color: $bg-hover;
      color: $purple-primary;
  }

  & svg{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}

//respon
@media screen and (max-width:990px) {
  .playlist.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}