@use '../../scss/' as*;

.player-controls{
    width: 100%;
    height: $height-player-control;
    background-color: $player-bg;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 50px;
    position: fixed;
    bottom: 0;
}

.control-left{
    width: 25%;
    height: 100%;
    display: flex;
}
.control-left-add,
.control-left-more {
    display: flex;
    align-items: center;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.overlay.open {
    display: flex;
}
.control-left-more-menu {
    // transform: translate(280px,250px);
    width: 265px;
    height: 380px;
    background-color: #fff;
    position: fixed;
    border-radius: 5%;
    background-color: #432275;
    bottom: 320px;
    left: -50px;
}

.more-menu {
    margin-top: 15px;
}

.more-menu-song-info {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "ig na"
    "ig st";
}

.more-menu img {
    width: 40px;
    height: 40px;
    grid-area: ig;
    transform: translateX(195%);
    margin-left: -61px;
    border-radius: 15%;
}

.menu-option-icon{
    position: relative;
    margin-left: 15px;

    & svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.song-tittle {
    grid-area: na;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    font-style: bold;
    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.song-status {
    grid-area: st;
    width: 120px;
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: space-between;
    opacity: 0.4;
}

.menu-button-list {
    display: flex;
    justify-content: space-around;
    background-color: rgba(225, 225, 225, 0.174);
    
    color: rgb(255, 255, 255);
    margin: 0 12px;
    border-radius: 10px;
    margin-top: 20px;
    height: 55px;
}

.bt-list-one {
    height: 100%;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bt-list-one:hover {
    opacity: 0.5;
    border-radius: 10%;
    border: 2px solid #fff;
}

.bt-list-one span {
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.bt-list-one p {
    display: flex;
    justify-content: center;
}

.menu-options {
    // border: 1px solid #fff;
    width: 100%;
    margin-top: 20px;
}

.menu-optin-one {
    display: flex;
    flex-direction: row;
    color: #fff;
    padding: 5px 0;
    font-size: 17px;
}
.menu-optin-one span {
    margin-left: 12px;
}
.menu-optin-one:hover {
    background-color: rgba(255, 255, 255, 0.216);  
    cursor: pointer;
}

.menu-optin-one p {
    margin-left: 15px;
}

.control-center{
    width: 40%;
    height: 100%;
}

.control-right{
    display: flex;
    align-items: center;
    // margin-right: 30px;
    // padding-left: 70px;
}
.control-left-addToPl,
.control-left-3point,
.control-micro,
.control-restore,
.control-volume{
    display: block;
    position: relative;
    width: 34px;
    height: 34px;
    font-size: 2rem;
    color: $text-primary;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    transition: background-color linear 0.1s;

    &:hover{
        background-color: $bg-hover;
        color: $purple-primary;
    }

    & svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.addd-topl-pos {
    position: relative;
}
.choose-playlist-menu-container.open1 {
    display: block;
}
.choose-playlist-menu-container {
    width: 250px;
    height: 250px;
    position: absolute;
    top: -200%;
    left: 97%;
    background-color: #432275;
    border-radius: 2%;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    display: none;
    overflow: hidden;
    overflow-y: auto;
}

.choose-playlist-menu-content {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.choose-menu-header {
    position: fixed;
    width: 95%;
    padding-top: 10px;
    z-index: 10;
    background-color: #432275;
}

.all-pl-add {
    position: relative;
    margin-top: 100px;
    z-index: 5;
}

.search-playlist-add {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    margin-bottom: 10px;
    // position: absolute;
    // background-color:#432275;
}

.search-playlist-add input {
    width: 100%;
    height: 100%;
    border-radius:999px;
    background-color: rgba(255, 255, 255, 0.101);
    border: 1px solid rgba(255, 255, 255, 0.41);
    padding: 0 15px;
    color: #fff;
}

.create-playlist-add {
    display: flex;
    padding-right: 15px;
    color: #fff;
    padding: 10px 14px;
    opacity: 0.6;
}

.playlist-add-item {
    display: flex;
    padding-right: 15px;
    color: #fff;
    padding: 10px 14px;
    opacity: 0.8;
}
.playlist-add-item span {
    margin-left: 20px;
}

.playlist-add-item:hover {
    background-color: rgba(255, 255, 255, 0.604);
    color: #fff;
}

.create-playlist-add:hover{
    background-color: rgba(255, 255, 255, 0.604);
    color: #fff;

}