$text-primary: #fff;
$text-secondary: hsla(0,0%,100%,0.5);

$purple-primary: #7200a1;

$link-text-hover: #c662ef;

$alpha-bg: hsla(0,0%,100%,0.1);
$primary-bg: #432275;
$sidebar-popup-bg: #2a213a;
$alpha-layout-bg: rgba(41,21,71,0.8);
$queue-player-popup-bg: #120822;
$layout-bg: #170f23;
$player-bg: rgb(18 12 28);

$button-hover: rgb(178 155 218);
$bg-hover:hsl(262deg 16% 26%);

$height-player-control: 90px;
$height-header: 70px;

$sidebar-width: 200px;

$sticky-header-box-shadow: rgba(0,0,0,0.1);


$mobile-width: 600px;
$tablet-width: 1024px;
