@use '../scss/' as *;

.main{
    display: flex;
}
.wrapper{ 
    flex: 1;
    position: absolute;
    width: calc(100% - $sidebar-width);
    margin-left: $sidebar-width;
}

.content{
    min-height: 100vh;
    margin-top: $height-header;
    margin-bottom: $height-player-control;
    background-color: $layout-bg;
}

//repon
// @media screen and (min-width: 0px) and (max-width: 780px) {
//     .wrapper {
//         width: calc(100% - $sidebar-width-responsive);
//         margin-left: $sidebar-width-responsive;
//     }
// }